body {
    background: #e2e1e0;
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    height: 92vh;
    position: relative;
    width: 95%;
}

.card-1 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}