# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
.classpath
.idea/
.project
.slcache/
.sass-cache
grailsw
grailsw.bat
lib/

gmsboilerplate-grailsPlugins.iml
gmsboilerplate.iml

web-app/css
web-app/images
web-app/js

wrapper/

grails-app/assets/client/bower_components