<style>
    body, html {
        height: 85%;
        min-height: 85vh;
    }
</style>

<!--logged-->
<div data-ng-controller="sessionCtrl as sCtrl" ng-cloak>

    <span data-ng-controller="menuCtrl as mc">
        <nav class="navbar fixed-top navbar-dark green navbar-toggleable-sm">
        <a class="mr-1"><md-icon md-svg-icon="navigation:ic_menu_24px" aria-label="GMS Boilerplate" class="text-white" ng-click="mc.toggleMenu()"></md-icon></a>
        <button class="navbar-toggler navbar-toggler-right p-0" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="{{'string.toggle_navigation' | translate}}">
            <md-icon md-svg-icon="navigation:ic_menu_24px"
                     class="text-white"></md-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto hidden-sm-down">
                <md-divider class="vertical-divider ml-2 mr-2"></md-divider>
                <li class="nav-item" data-ng-repeat="b in mc.leftButtons track by $index">
                    <md-button aria-label="{{b.text | translate}}" class="mr-0 ml-m-4 highlight-over {{b.bClass}}"
                               ng-show="b.ngShow(b.text + b.icon, b.tryToHide)"
                               ng-click="b.action()">
                        <md-icon md-svg-icon="{{b.icon}}"></md-icon>
                        <md-tooltip>{{b.text | translate}}</md-tooltip>
                    </md-button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <md-icon class="flag-icon" md-svg-icon="flag:{{idxCtrl.lan.countryFlag}}"></md-icon>&nbsp;{{idxCtrl.lan.current | translate}}
                    </a>
                    <div class="dropdown-menu dropdown dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" ng-click="idxCtrl.changeLanguage(idxCtrl.lan.english)">
                            <md-icon class="flag-icon" md-svg-icon="flag:en"></md-icon>&nbsp;English
                        </a>
                        <a class="dropdown-item" ng-click="idxCtrl.changeLanguage(idxCtrl.lan.spanish)">
                            <md-icon class="flag-icon" md-svg-icon="flag:es"></md-icon>&nbsp;Espa&ntilde;ol
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

        <!--left sideNav (main menu)-->
        <md-sidenav class="md-sidenav-left sidenav1 md-whiteframe-4 zi-1100" md-component-id="snLeft">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">
                    <span>GMS - Boilerplate</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="mc.closeSideNav()">
                        <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="{{'button.close' | translate}}"></md-icon>
                    </md-button>
                </h1>
            </md-toolbar>
            <md-content ng-controller="GMSSideNavCtrl as snc" layout-padding>

                <!--side menu-->
                <md-sidemenu>

                    <!--profile-->
                    <md-sidemenu-group ng-show="sCtrl.can.manageProfile()">
                        <md-sidemenu-content md-heading="{{sCtrl.user.username || sCtrl.user.email}}&nbsp;{{sCtrl.user.entities.length > 1 ? '(' + (sCtrl.oEntity.name || sCtrl.oEntity.username) + ')' : ''}}"
                                             class="text-muted"
                                             md-svg-icon="action:ic_account_circle_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px"
                                             ng-show="sCtrl.can.manageProfile()">
                            <md-sidemenu-button ng-click="sCtrl.viewProfile(); snc.close()">
                                <span>
                                    <md-icon md-svg-icon="social:ic_person_24px" class="mr-0"></md-icon>
                                    {{'SESSION.my_profile' | translate}}
                                </span>
                            </md-sidemenu-button>
                            <md-sidemenu-button ng-click="sCtrl.go('/owned-entities/select'); snc.close()"
                                                ng-if="sCtrl.user.entities.length > 1">
                                <span>
                                    <md-icon md-svg-icon="action:ic_compare_arrows_24px" class="mr-0"></md-icon>
                                    {{'SESSION.select_entity' | translate}}
                                </span>
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--owned entities-->
                    <md-sidemenu-group ng-show="sCtrl.isMultiEntityApp && sCtrl.can.manageOwnedEntity()">
                        <!--<md-subheader class="md-no-sticky"></md-subheader>-->
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'ENTITY.entities' | translate}}"
                                             md-svg-icon="action:ic_dashboard_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px">
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/owned-entities/new'); snc.close()"
                                                ng-show="sCtrl.can.createOwnedEntity()">
                                <span>
                                    <md-icon md-svg-icon="content:ic_add_24px" class="mr-0"></md-icon>
                                    {{'ENTITY.new' | translate}}
                                </span>
                            </md-sidemenu-button>
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/owned-entities'); snc.close()"
                                                ng-show="sCtrl.can.readOwnedEntity()">
                                <span>
                                    <md-icon md-svg-icon="action:ic_list_24px" class="mr-0"></md-icon>
                                    {{'ENTITY.list' | translate}}
                                </span>
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--users-->
                    <md-sidemenu-group ng-show="sCtrl.can.manageUser()">
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'USER.users' | translate}}"
                                             md-svg-icon="social:ic_group_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px">
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/users/new'); snc.close()"
                                                ng-show="sCtrl.can.createUser()">
                                <span>
                                    <md-icon md-svg-icon="content:ic_add_24px" class="mr-0"></md-icon>
                                    {{'USER.new' | translate}}
                                </span>
                            </md-sidemenu-button>
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/users'); snc.close()"
                                                ng-show="sCtrl.can.readUser()">
                                <span>
                                    <md-icon md-svg-icon="action:ic_list_24px" class="mr-0"></md-icon>
                                    {{'USER.list' | translate}}
                                </span>
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--roles-->
                    <md-sidemenu-group ng-show="sCtrl.can.manageRole()">
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'ROLE.roles' | translate}}"
                                             md-svg-icon="hardware:ic_security_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px">
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/roles/new'); snc.close()"
                                                ng-show="sCtrl.can.createRole()">
                                <span>
                                    <md-icon md-svg-icon="content:ic_add_24px" class="mr-0"></md-icon>
                                    {{'ROLE.new' | translate}}
                                </span>
                            </md-sidemenu-button>
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/roles'); snc.close()"
                                                ng-show="sCtrl.can.readRole()">
                                <span>
                                    <md-icon md-svg-icon="action:ic_list_24px" class="mr-0"></md-icon>
                                    {{'ROLE.list' | translate}}
                                </span>
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--permissions-->
                    <md-sidemenu-group ng-show="sCtrl.can.managePermission()">
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'PERMISSIONS.permissions' | translate}}"
                                             md-svg-icon="action:ic_verified_user_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px">
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/permissions'); snc.close()"
                                                ng-show="sCtrl.can.readPermission()">
                                <span>
                                    <md-icon md-svg-icon="action:ic_list_24px" class="mr-0"></md-icon>
                                    {{'PERMISSIONS.list' | translate}}
                                </span>
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--configuration-->
                    <md-sidemenu-group ng-show="sCtrl.can.conf()">
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'CONFIGURATION.configuration' | translate}}"
                                             md-svg-icon="action:ic_settings_24px"
                                             md-svg-arrow="hardware:ic_keyboard_arrow_down_24px">
                            <md-sidemenu-button ng-click="sCtrl.go('/admin/config/params'); snc.close()">
                                {{'CONFIGURATION.parameters' | translate}}
                            </md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <!--logout-->
                    <md-sidemenu-group ng-show="sCtrl.can.manageProfile()">
                        <md-divider></md-divider>

                        <md-sidemenu-content md-heading="{{'SESSION.close' | translate}}"
                                             md-svg-icon="action:ic_exit_to_app_24px"
                                             class="text-muted"
                                             ng-click="sCtrl.logout()">
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                </md-sidemenu>
                <!--./side menu-->
            </md-content>

        </md-sidenav>
        <!--./left sideNav (main menu)-->

        <div data-ng-controller="paginationCtrl as pc" class="mt-5">
            <md-content>
                <md-card class="h-85pc min-h-85vh">
                    <md-card-content class="pb-0">
                        <ng-view></ng-view>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>

    </span>
</div>