<div class="row mt-5">
    <div class="card col-md-6 mlr-auto">
        <form role="form" name="loginForm" novalidate>

            <div class="card-block">
                <!--Header-->
                <div class="form-header green p-0">
                    <md-toolbar>
                        <div class="md-toolbar-tools" layout-align="center center">
                            <div layout-align="center center">
                                <div layout="row" layout-align="center center" flex="100">
                                    <md-icon md-svg-icon="hardware:ic_security_24px"></md-icon>
                                    &nbsp;{{ 'LOGIN.authentication' | translate}}
                                </div>
                            </div>
                        </div>
                    </md-toolbar>
                </div>

                <!--username or email-->
                <md-input-container class="md-icon-float md-block">
                    <label>{{ 'LOGIN.user_email' | translate}}</label>
                    <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
                    <input ng-model="vm.emailOrUsername" type="text" required name="emailOrUsername"
                           ng-keypress="vm.checkKeyDown($event, loginForm)"/>

                    <div ng-messages="loginForm.emailOrUsername.$error" md-auto-hide="false">
                        <div ng-message="required">
                            {{ 'LOGIN.user_email_required' | translate}}
                        </div>
                    </div>
                </md-input-container>

                <!--password-->
                <md-input-container class="md-icon-float md-block">
                    <label>{{ 'LOGIN.password' | translate}}</label>
                    <md-icon md-svg-icon="action:ic_lock_24px"></md-icon>
                    <input ng-model="vm.password" type="password" required name="password"
                           ng-keypress="vm.checkKeyDown($event, loginForm)"/>
                    <div ng-messages="loginForm.password.$error" md-auto-hide="false">
                        <div ng-message="required">
                            {{ 'LOGIN.password_required' | translate}}
                        </div>
                    </div>
                </md-input-container>

                <div class="text-center">
                    <md-button class="md-primary md-raised" aria-label="{{'button.accept' | translate}}"
                               ng-click="vm.login(loginForm)">
                        &nbsp;
                        {{'button.login' | translate}}
                    </md-button>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p data-ng-if="idxCtrl.canRegister">{{'string.not_a_member' | translate}}&nbsp;<a href="" data-ng-click="idxCtrl.go('/signup')">{{'button.register' | translate}}</a></p>
                    <p>{{'string.forgot_the' | translate}} <a href="">{{'string._password' | translate}}</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
