.rrms-error-panel {
    .emotion {
        margin-bottom: 3%;
        font-size: 30px;
        font-weight: bold;
        color: #86868a;
        text-align: center;
    }
    .panel-heading {
        text-transform: uppercase;
        text-align: center;
        color: red;
        font-weight: bold;
    }
    .panel-body {
        margin-top: 6%;
        font-style: italic;
        text-align: center;
    }
}