/*md-side-menu issue on firefox*/
.md-sidemenu-wrapper {
  height: 0;

  &.md-active {
    height: auto;
  }
}

/*fixes ng-messages|angular-material|ng-animate issue (see: https://github.com/angular/material/issues/9543) */
/* TODO: fix for ng-messages issue
.ng-untouched ~ .md-input-messages-animation {  //ng-message after an input
  height: 0;
  opacity: 0;
}*/
