@mixin padding($top, $left, $bottom, $right) {
  @if($top != null) {
    padding-top: $top !important;
  }
  @if($left != null) {
    padding-left: $left !important;
  }
  @if($bottom != null) {
    padding-bottom: $bottom !important;
  }
  @if($right != null) {
    padding-right: $right !important;
  }
}


/*top*/



/*left*/



/*bottom*/



/*right*/



/*top-bottom*/



/*left-right*/



/*all*/

