@mixin padding($top, $bottom, $right, $left) {
  @if($top != null) {
    padding-top: $top !important;
  }
  @if($left != null) {
    padding-left: $left !important;
  }
  @if($bottom != null) {
    padding-bottom: $bottom !important;
  }
  @if($right != null) {
    padding-right: $right !important;
  }
}


/*top*/



/*left*/



/*bottom*/



/*right*/



/*top-bottom*/



/*left-right*/
.pl-13 { @include padding(null, null, null, 13px)}


/*all*/

