@mixin width ($width) {
  width: $width;
}

@mixin height ($height) {
  height: $height;
}

@mixin min-height ($height) {
  min-height: $height;
}

@mixin fs ($size) {
  font-size: $size;
}

//width


//height
.h-85 { @include height(85px) }

.h-85pc { @include height(85%) }

.min-h-85vh { @include min-height(85vh) }

//font-sizes
.fs-12 { @include fs(12px)}