.rrms-error-panel .emotion {
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: bold;
    color: #86868a;
    text-align: center;
}

.rrms-error-panel .panel-heading {
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-weight: bold;
}

.rrms-error-panel .panel-body {
    margin-top: 6%;
    font-style: italic;
    text-align: center;
}