.rrms-error-panel .emotion {
  margin-bottom: 3%;
  font-size: 30px;
  font-weight: bold;
  color: #86868a;
  text-align: center; }
.rrms-error-panel .panel-heading {
  text-transform: uppercase;
  text-align: center;
  color: red;
  font-weight: bold; }
.rrms-error-panel .panel-body {
  margin-top: 6%;
  font-style: italic;
  text-align: center; }

/*md-side-menu issue on firefox*/
.md-sidemenu-wrapper {
  height: 0; }
  .md-sidemenu-wrapper.md-active {
    height: auto; }

/*fixes ng-messages|angular-material|ng-animate issue (see: https://github.com/angular/material/issues/9543) */
/* TODO: fix for ng-messages issue
.ng-untouched ~ .md-input-messages-animation {  //ng-message after an input
  height: 0;
  opacity: 0;
}*/
/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
.img.img-profile {
  max-height: 150px; }
.img.img-profile:not(.no-hover):hover {
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3); }

/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
.even-class {
  background: #e4e2e2 !important; }

.selected-item {
  background: #a6a6a6 !important;
  color: black !important;
  border: 1px #696666 solid !important; }

.opacity-05 {
  opacity: 0.5 !important; }

.gms-blue {
  color: dodgerblue !important; }

/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
/*top*/
.mt-4 {
  margin-top: 4px !important; }

/*left*/
.ml-12 {
  margin-left: 12px !important; }

.ml-m-10 {
  margin-left: -10px !important; }

.ml-m-4 {
  margin-left: -4px !important; }

/*bottom*/
.mb-6 {
  margin-bottom: 6px !important; }

/*right*/
.mr-6 {
  margin-right: 6px !important; }

.mr-20 {
  margin-right: 20px !important; }

/*top-bottom*/
.mtb-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

/*left-right*/
.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

/*all*/
.ma-auto {
  margin-top: auto !important;
  margin-left: auto !important;
  margin-bottom: auto !important;
  margin-right: auto !important; }

/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
.h-85 {
  height: 85px; }

.h-89pc {
  height: 89%; }

.min-h-89vh {
  min-height: 89vh; }

.fs-12 {
  font-size: 12px; }

md-content {
  margin-left: 8px !important;
  margin-right: 8px !important; }

md-menu-bar button {
  font-size: 17px;
  color: white !important; }
md-menu-bar button:focus {
  color: buttontext; }
md-menu-bar md-menu.md-open > button {
  color: buttontext; }

md-virtual-repeat-container {
  height: 200px;
  border: 1px solid lightgray; }

div.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }

.hand-pointer {
  cursor: hand;
  cursor: pointer; }

.password-strength-ch > div {
  max-width: 600px;
  margin-left: 36px;
  max-height: 2px;
  margin-top: -40px;
  margin-bottom: 39px; }

md-icon.s12 {
  height: 12px;
  width: 12px;
  min-height: 12px;
  min-width: 12px; }
md-icon.flag-icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-top: -2px; }
  md-icon.flag-icon svg {
    border-radius: 20%; }

.sidenav1 {
  transform: translateX(0px);
  position: fixed; }

md-backdrop.md-sidenav-backdrop {
  position: fixed !important; }

hr {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important; }

button.text-white md-icon svg {
  fill: white; }
button.highlight-over:hover md-icon svg {
  fill: rgba(255, 255, 255, 0.75); }
button.loading-btn {
  -webkit-animation: spin 1s linear infinite reverse;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1s linear infinite reverse;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

.vertical-divider {
  border-top-width: 0;
  border-right: 1px solid white;
  height: 100%; }

#toaster {
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  z-index: 10000; }

md-card.card1 {
  margin-top: 4rem !important;
  margin-left: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 2px !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75); }

md-divider {
  border-top: 1px solid rgba(68, 156, 71, 0.44); }

img.error {
  border: 1px solid #dd2c00; }

/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
/*top*/
/*left*/
/*bottom*/
/*right*/
/*top-bottom*/
/*left-right*/
.pl-13 {
  padding-left: 13px !important; }

/*all*/
/*******************  size   *********************/
/*******************  color   *******************/
/*******************  margin   *******************/
/*******************  padding   *******************/
/*******************  positions   *******************/
.zi-1100 {
  z-index: 1100 !important; }

.text-italic {
  font-style: italic; }

@media (max-width: 767px) {
  .dropdown-menu-right {
    right: inherit;
    margin-left: inherit; } }

/*# sourceMappingURL=styles.css.map */
