<div ng-cloak layout-gt-sm="row" layout="column" >
    <div flex-gt-sm="99" flex>
        <md-content>
            <md-list flex>
                <md-divider ng-show="vm.roles.all.length"></md-divider>
                <md-list-item class="md-3-line" ng-repeat="item in vm.roles.all" ng-click="vm.view(item.id)" aria-label="Rol: {{item.label}}">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.label"></h3>
                        <p class="text-italic" data-ng-bind="item.description"></p>
                        <p>({{item.enabled | humanReadable | translate}})</p>
                        <md-button class="md-secondary md-icon-button" aria-label="{{'button.edit' | translate}}"
                                   ng-click="vm.edit(item.id)"
                                   ng-show="sCtrl.can.updateRole()">
                            <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
                            <md-tooltip>{{'button.edit' | translate}}</md-tooltip>
                        </md-button>

                        <md-checkbox
                                class="mt-4 md-secondary"
                                aria-label="{{'string.activate_deactivate' | translate}}"
                                ng-model="item.enabled"
                                ng-click="vm.activateDeactivate(item)"
                                ng-show="sCtrl.can.updateRole()"
                        >
                        </md-checkbox>

                        <md-button class="md-secondary md-icon-button" aria-label="{{'button.delete' | translate}}"
                                   ng-click="vm.remove(item.id)"
                                   ng-show="sCtrl.can.deleteRole()">
                            <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                            <md-tooltip>{{'button.delete' | translate}}</md-tooltip>
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

<div data-ng-show="!vm.roles.loading && vm.roles.all.length && pc.showPagination()">
    <md-content>
        <br>
        <cl-paging flex cl-pages="pc.getTotalPages()"
                   cl-steps="pc.getMaxLinks()"
                   cl-page-changed="vm.changePage(pc.currentPage)"
                   cl-align="center center"
                   cl-current-page="pc.currentPage"></cl-paging>

        <br>
    </md-content>
</div>

<div data-ng-hide="!vm.roles.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
