<div ng-cloak layout-gt-sm="row" layout="column" >

    <div flex-gt-sm="99" flex>
        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.entities.all" ng-click="vm.view(item.id)" aria-label="{{item.name}}">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.name + ' (' + item.username + ')'"></h3>

                        <p class="hidden-md-down"><small>
                           <span class="text-italic" data-ng-bind="item.description | trimmer:130:'...'"></span>
                        </small></p>

                        <md-button class="md-secondary md-icon-button" aria-label="{{'button.edit' | translate}}"
                                   ng-click="vm.edit(item.id)" ng-show="sCtrl.can.updateOwnedEntity()">
                            <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
                            <md-tooltip>{{'button.edit' | translate}}</md-tooltip>
                        </md-button>

                        <md-button class="md-secondary md-icon-button" aria-label="{{'button.delete' | translate}}"
                                   ng-click="vm.remove(item.id)" ng-show="sCtrl.can.deleteOwnedEntity()">
                            <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                            <md-tooltip>{{'button.delete' | translate}}</md-tooltip>
                        </md-button>

                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

<div data-ng-show="!vm.entities.loading && vm.entities.all.length">
    <div data-ng-include="'assets/app/modules/_common/html/includes/list/pagination.html'"></div>
</div>

<div data-ng-hide="!vm.entities.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>