<md-dialog aria-label="{{title}}" style="min-width: 340px;">
    <form name="mdSimpleDialog">
        <md-toolbar ng-class="typeClass">
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="{{'button.close' | translate}}"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <p data-ng-bind-html="text"></p>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-class='{"{{typeClass}}": b["primary"]}' ng-repeat="b in buttons track by $index"
                       ng-click="b['function'](); cancel()" >
                {{b.text}}
            </md-button>
            <md-button ng-click="cancel()">
                {{'button.close' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>